body {
font-family: italic, sans-serif; 
color: purple;
}
h1 {
  color: goldenrod;
}
img {
 width: 200px;
  height: 500px;
  border: 3px solid gold;
  /*
  comments
  border-style: solid;
  border-color: gold;
  */
}
